# SECURITY
API_KEY=your_secure_access_token

# CHANNELS (Optional)
TELEGRAM_BOT_TOKEN=your_bot_token
TELEGRAM_CHAT_ID=your_chat_id
VIRTUAL_EXCHANGE_URL=http://localhost:8080/mock_trade

# SYSTEM
LOG_LEVEL=INFO
